<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chapulines F.C.</title>
    <link rel="stylesheet" href="/static/CSS/landing.css" type="text/css" />
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/login">Inscripción</a>
    <a href="/preguntas">Preguntas</a>
    <a href="/clientes">Seleccionados</a>
</nav>
<img src="/static/imagenes/Escudo.jpg"></img>
<div class="soccer-ball1"><p>Estamos buscando a los mejores de México para conseguir nuestro sueño.</p></div>
<div class="soccer-ball2"><p>¡Queremos pasar de ser un equipo de 3ra división a ser uno de primera!</p></div>
<div class="soccer-ball3"><p>Si crees tener el talento ¡contáctanos! 
<br><br><br>
Al 556798743 o registrate en nuestra página web</p></div>

</body>
</html>
