<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas</title>
    <link rel="stylesheet" href="/static/CSS/preguntas.css" type="text/css" />
</head>
<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/login">Inscripción</a>
    <a href="/preguntas">Preguntas</a>
</nav>

    <header>
        <h1>Preguntas Frecuentes</h1>
    </header>

    <main>
        <section>
            <h2>¿Cómo puedo registrarme en el sitio?</h2>
            <p>Para registrarte en nuestro sitio, sigue estos pasos:</p>
            <ol>
                <li>Ve a la página de registro.</li>
                <li>Completa el formulario con tu información.</li>
                <li>Haz clic en el botón de registro.</li>
            </ol>
        </section>

        <section>
            <h2>¿Cómo se si fui selccionado?</h2>
            <p>Nosotros te contactaremos por correo</p>
            <ol>
                <li>Pidiendo un video de tu estilo de juego.</li>
                <li>Salario que desea ganar.</li>
                <li>Si tiene alguna experiencia o carta de recomendación.</li>
            </ol>
        </section>

       <section>
            <h2>¿Dondé juegan?</h2>
            <p>Dependiendo de nuestra estadía:</p>
            <ol>
                <li>Si jugamos de local jugamos en el estadio Azteca.</li>
                <li>Si lo hacemos de visitante viajamos por toda la republica.</li>

            </ol>
        </section>
        <section>
            <h2>¿Se paga por jugar en el equipo?</h2>
            <p>¡No!</p>
            <ol>
                <li>Estamos comprometidos de que somos una institución seria por lo cual nosotros te pagaremos como cualquiero club profecional.</li>
              

            </ol>
           </section>
    </main>


</body>
</html>
